@{
    ViewData["Title"] = "UserPage";
}
@model UserModel
<h2>Üye Sayfası</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <img src="~/Photos/@Model.PhotoUrl" style="width:150px; margin-left:100px" />
    </div>
    <div class="col-md-8">
        @if (Model.Role == "Uye")
        {
            <span class="badge bg-info">Normal Üye</span>
        }
        @if (Model.Role == "Admin")
        {
            <span class="badge bg-info">Yönetici Üye</span>
        }
        <table class="table">
            <tr>
                <td><b>Adı Soyadı</b></td>
                <td>@Model.FullName</td>
            </tr>
            <tr>
                <td><b>Kullanıcı Adı</b></td>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <td><b>E-Posta</b></td>
                <td>@Model.Email</td>
            </tr>
        </table>
    </div>
</div>

